<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" lang="ja">

<head>
<title>トップページ</title>
</head>

<body>
	<div layout:fragment="content" class="container-fluid p-4">
		<div th:if="${#lists.isEmpty(sharedList)}">
			お知らせはありません
		</div>
				
		<!-- 全自治体共有エリア -->	
		<div th:each="content : ${sharedList}">
		    <div th:utext="${content.titleHtml}"></div>
		    <div th:utext="${content.contentHtml}"></div>
		</div>
	</div>
</body>
</html>
